<header role="banner" class="site_header">

    <div>
        <h1 class="site_heading">
            <a
            href="/"
            aria-label="Home"
            >
            {$siteOwner}
            </a>
        </h1>
        <p class="site_title">
            {$siteTitle}
        </p>
    </div>

    {if $flash}
    <p class="flash {$flash['type']}">{$flash['message']}</p>
    {/if}

</header>
