<!DOCTYPE html>
<html>
  {include 'head.latte'}
  <body>
    <a
      href="#main-content"
    >
      Skip to main content
    </a>

    <header role="banner">
      <div>
        <div>
          <h1>
            <a
              href="/"
              aria-label="Home"
            >
              {$siteOwner}'s website
            </a>
          </h1>
          <p>
            {$siteTitle}
          </p>
          <div>
            <a
              href="/contact"
              aria-label="Contact {$siteOwner}"
            >
              Contact
            </a>
            <a
              href="{$github}"
              aria-label="Visit {$siteOwner}'s GitHub profile"
              rel="noopener noreferrer"
              target="_blank"
            >
              GitHub Profile
            </a>
          </div>
        </div>
      </div>
    </header>

    <main id="main-content" role="main">
        {block content}{/block}
    </main>

    {include 'footer.latte'}

  </body>
</html>
